<div class="todo-container">
  <div class="title d-flex flex-row justify-content-center align-items-center m-3">
    <span class="mx-2">TO-DO LIST </span>
    <i class="fa fa-list-alt" aria-hidden="true"></i>
  </div>
  <div class="content-container d-flex flex-row">
    <div class="col-6">
      <div class="to-do-content">
        <app-task-list/>
      </div>
    </div>
    <div class="col-6">
      <div class="to-do-content" style="height:50vh">
        <router-outlet></router-outlet>
      </div>
    </div>
</div>
  </div>
