<div class="p-3" style="height:50vh">
  <div class="row justify-content-center h4"><b>TASKS</b></div>
  <div class="row pl-4 pr-3">
    <div class="my-3">
      <button (click)="newTask()" class="btn btn-outline-primary mr-3">New task</button>
      <button class="btn btn-outline-info" (click)="toggleShowComplete()">
        {{ showCompleted ? "Hide Completed" : "Show Completed" }}
      </button>
    </div>
  </div>
  <div class="row p-2 border-bottom h5 mb-0 bolder">
    <div class="col-8">Task title</div>
    <div class="col-2">Status</div>
    <div class="col-2"></div>
  </div>
  <div class="task-list-content">
      <app-task-item *ngFor="let task of tasks" [task]='task' (removeTask)="removeTask($event)"/>
  </div>
</div>

